<ActionBar title="My F App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <!--<ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>-->
    <Button text="Connection" (tap)="connection()"></Button>
    <Button text="List !" (tap)="list()" *ngIf="peerReady"></Button>
    <Button text="Send message !" (tap)="send()" *ngIf="peerReady"></Button>
    <Button text="getUserMedia !" (tap)="getUserMedia()" *ngIf="peerReady"></Button>

    <!--<ListView [items]="items" class="list-group">
        <ng-template let-item="peersId">
            <Label [text]="item"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>-->

    <StackLayout *ngFor="let peerId of peersId">
        <Button [text]="'talk to ' + peerId" (tap)="connectTo(peerId)"></Button>
        <Button [text]="'call ' + peerId" (tap)="call(peerId)"></Button>
    </StackLayout>

    <WebRtcView [height]="200"></WebRtcView>
</StackLayout>
